@using Microsoft.AspNetCore.Identity
@using Team24_BevosBooks.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);

        <li class="nav-item">
            <span class="navbar-text me-3">
                Hello, @currentUser.FirstName!
            </span>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Manage">Account</a>
        </li>

        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                <button type="submit" class="nav-link btn btn-link text-decoration-none">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }

</ul>
