@{
    ViewData["Title"] = "Access Denied";
}

<h2 class="mt-4 mb-3 text-danger">Access Denied</h2>
<div class="alert alert-warning bg-white text-dark">
    Employees of Bevo's Books do not have access to this resource.
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>