@model IEnumerable<Team24_BevosBooks.Models.Genre>

@{
    ViewData["Title"] = "Genres";
}

<h2>Genres</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Genre</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Genre Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GenreName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GenreID"
                       class="btn btn-sm btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>